/* Tailwind theme variables for the application based on the Figma design system. */

@theme {
  /* Colors */
  --color-grey-500: #9699aa;
  --color-grey-600: #97979733;

  --color-orange-300: #ffaf7e;

  --color-red-500: #ee374a;
  --color-red-450: #e96170;
  --color-red-400: #f9818e;

  --color-purple-600: #483eff;
  --color-purple-500: #6259ff;
  --color-purple-400: #928cff;
  --color-purple-200: #d6d9e6;

  --color-blue-950: #022959;
  --color-blue-700: #164a8a;
  --color-blue-300: #abbcff;
  --color-blue-200: #bee2fd;
  --color-blue-100: #eff5ff;
  --color-blue-50: #f8f9ff;

  /* Typography */
  --text-preset1: 2rem;
  --text-preset1--font-weight: 700;
  --text-preset1--line-height: 120%;

  --text-preset2: 1.5rem;
  --text-preset2--font-weight: 700;
  --text-preset2--line-height: 120%;

  --text-preset3: 1rem;
  --text-preset3--font-weight: 400;
  --text-preset3--line-height: 150%;

  --text-preset3-medium: 1rem;
  --text-preset3-medium--font-weight: 500;
  --text-preset3-medium--line-height: 120%;

  --text-preset3-bold: 1rem;
  --text-preset3-bold--font-weight: 700;
  --text-preset3-bold--line-height: 120%;

  --text-preset4: 0.875rem;
  --text-preset4--font-weight: 400;
  --text-preset4--line-height: 120%;

  --text-preset4-medium: 0.875rem;
  --text-preset4-medium--font-weight: 500;
  --text-preset4-medium--line-height: 150%;

  --text-preset4-bold: 0.875rem;
  --text-preset4-bold--font-weight: 700;
  --text-preset4-bold--line-height: 120%;
  --text-preset4-bold--letter-spacing: 0.01rem;

  --text-preset5: 0.75rem;
  --text-preset5--font-weight: 400;
  --text-preset5--line-height: 120%;

  --text-preset5-bold: 0.75rem;
  --text-preset5-bold--font-weight: 700;
  --text-preset5-bold--line-height: 120%;

  --text-preset6: 1.25rem;
  --text-preset6--font-weight: 700;
  --text-preset6--line-height: 120%;

  /* Shadows */
  --shadow-md: 0px 25px 40px -20px rgba(0, 0, 0, 0.095);

  /* Breakpoints */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
}
